<div class="navbar navbar-inverse">
  <a class="navbar-brand" href="">Courses Management</a>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
      <a [routerLink]="['/']">Trang chủ</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/courses']">Khóa học</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/login']">Đăng nhập</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="logOut()">Đăng xuất</a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>